
$green-color : #60BF08;
$red-color : #F00E14;

$header-height : 60;
$budget-freq-height : 30;
$section-spacing : 10;


$padding-sides : 20px;

$max-width : 480px;


$background-color : #e5e5e5;
$base-font-color: #555;

$font-stack : 'Roboto Condensed';

* {
    -webkit-tap-highlight-color: transparent;
    }

*:focus {
    outline: none;
    }

.lower-case {
    text-transform: lowercase;
}

body {
    color: $base-font-color;
    background-color: $background-color;
    font-family: $font-stack;
    font-size: 14.5px;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    max-width: $max-width;;
    width: 100%;
    z-index: 5000;
}

.section {
    overflow: hidden;
    padding: 0 0 10px 0;
 
}




#transaction {
    position: relative;
}

.transaction-container {
    background-color: #fff;
    height: ( $header-height  ) + px;
    line-height: ( $header-height  ) + px;
    width: 100%;
    clear: both;
    position: relative;
    z-index: 100;
}

$color-diff: 2%;

.transaction-income {
    background-color: $green-color;
    border-bottom: 1px solid lighten( $green-color, $color-diff );
    border-top: 1px solid darken( $green-color, $color-diff );
    color: #fff;
}

.transaction-savings {
    background-color: #555;
    border-bottom: 1px solid lighten( #555, $color-diff );
    border-top: 1px solid darken( #555, $color-diff );
    color: #fff;
}

.transaction-expenses {
    background-color: $red-color;
    border-bottom: 1px solid lighten( $red-color, $color-diff );
    border-top: 1px solid darken( $red-color, $color-diff );
    color: #fff;
}





.transaction-content:hover {
}

.transaction-content,
.transaction-menu {
    display: inline-block;
    float: left;
    height: inherit;
    position: absolute;
    transition: 0.5s all ease;
    }

.transaction-cover {
    cursor: move;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}
    
.transaction-content {
    background-color: inherit;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    }

.transaction-title {
    float: left;
    padding: 0 0 0 20px;
    }

.transaction-amount {
    float: right;
    padding: 0 20px 0 0;
    }

.transaction-menu {
    top: 0;
    bottom: 0;
    right: -50%;
    text-align: center;
    width: 50%;
    z-index: 20;
    }

.transaction-edit,
.transaction-delete {
    background-color: darken( $background-color, 10% );
    color: $base-font-color;
    cursor: pointer;
    float: left;
    width: 50%;
    }




$percentage-height: 8px;


#percentage{
    background-color: #ccc;
    height: $percentage-height;
    overflow: hidden;
    width: 100%;
}

#percentage-expenses,
#percentage-savings,
#percentage-available {
    float: left;
    height: $percentage-height;
    width: 0;
}

#percentage-expenses {
    background-color: $red-color;
}

#percentage-savings {
    background-color: #555;
}

#percentage-available {
    background-color: $green-color;
}



#legend {
    background-color: #fff;
    height: $header-height;
    overflow: hidden;
    margin: 0;
}

.legend-key {
    float: left;
    height: $header-height + px;
    width: 33.333333333333%;
    line-height: $header-height + px;
    text-align: center;
}

.legend-key .key-block {
    background-color: #555;
    border-radius: 20px;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

#legend-key-expenses .key-block {
    background-color: $red-color;
}

#legend-key-available .key-block {
    background-color: $green-color;
}










#totals {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    height: 40px;
    line-height: 40px;
    margin: 0 0 ( $section-spacing + px ) 0;
    text-align: center;
}

.total {
    float: left;
    width: 33.333333333333%;
}

#total-expenses {
    color: $red-color;
    }

#total-income {
    color: $green-color;
    }


    


h1, h2, h3 {
     margin: 0;
    padding: 0;
}

.form-container {
    background-color: #fff;
    margin: ( ( $header-height + $section-spacing ) + px ) 0 ( $section-spacing + px ) 0;
    padding: $padding-sides;
}

.form-container h1 {
    font-family: $font-stack;
    font-size: 24px;
    margin: 0 0 20px 0;
}

.form-container .label {
    margin: 0 0 10px 0;
}

.form-container input,
.form-container select {
    background-color: #fff;
    border: 1px solid $background-color;
    border-radius: 5px;
    color: $base-font-color;
    font-family: $font-stack;
    font-size: 14px;
    height: 55px;
    padding: 0 5%;
    margin: 0 0 15px 0;
}

.form-container input {
    width: 90%; 
}

.form-container input[type=submit]{
    background-color: $green-color;
    color: #fff;
    margin: 45px 0 0 0;
    width: 100%;
}

.form-container select {
    width: 100%;
}











/* =Header Elements
------------------------------------------------------------------------------*/

#header {
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;  
    }

#header-navigation {
    background-color: #fff;
    height: $header-height + px;
    margin: 0;
    width: 100%;
    }
    
#budgeting-freq {
    background-color: #555;
    color: #fff;
    font-size: 12.5px;
    height: $budget-freq-height + px;
    letter-spacing: 0.1em;
    line-height: $budget-freq-height + px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    }

/* =Header Buttons
------------------------------------------------------------------------------*/

.button-new-transaction,
.button-go-back,
.button-settings {

    color: $base-font-color;
    height: $header-height + px;
    line-height: $header-height + px;
    padding: 0 20px;
    }

.button-new-transaction {
    float: right;
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    }

.button-go-back {
    float: left;
    }

.button-settings {
    float: left;
    }   

/* =Available Balance
------------------------------------------------------------------------------*/
    
#available-balance {
    background-color: #fff;
    margin:  ( ( $header-height + $budget-freq-height + $section-spacing ) + px )  0 ( $section-spacing  + px ) 0;
    padding: 20px 0;
    text-align: center;
    }

#available-balance-amount {
    font-size: 48px;
    font-weight: bold;
    }

#available-balance-text {
    font-style: italic;
    }


